.avatar .variant-chatgpt {
  height: 30px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.avatar {
  background-color: rgb(255, 150, 0);
  color: white;
  border-radius: 2px;
  height: 30px;
  position: relative;
  width: 30px;
}

.avatar .y {
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 29px;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 30px;
}
