.chat-frame {
  align-items: center;
  background-color: #2e2f3a;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  justify-content: center;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
}

.chat-frame .title-frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.chat-frame .title {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.chat-frame .messages-instance {
  align-self: stretch !important;
  flex: 1 !important;
  justify-content: unset !important;
  width: unset !important;
}

.chat-frame .input-frame {
  align-items: center;
  align-self: stretch;
  background-color: #444654;
  border: 2px solid;
  border-color: #cdcdcd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 24px;
  position: relative;
}

.chat-frame .input {
  align-self: stretch;
  background-color: var(--gray-6);
  border: 0;
  color: #f2f2f2;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  padding: 0;
  position: relative;
}
